*{
margin: 0;
padding: 0;

}

body{

    background: rgb(167, 101, 114);
    color: rgb(34, 1, 1);
    font-family: system-ui; 
}

.crud{
    width: 80%;
    margin: auto;
}

.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
    
input{
width: 100%;
height: 30px;
outline: none;
border: none;
background: rgba(255, 217, 225, 0.877);
margin: 4px 0;
border-radius: 6px;
padding: 4px;
}


/*lorsqueje clique sur les champs de input*/
input:focus{
/*il change de couleur*/
background:rgb(255, 255, 255);
/*s'aggrandi*/
transform: scale(1.1);
}

.price input{
width: 20%;

}

.price small{ /*or we can write #total directly*/   
     background:rgb(241, 181, 201);
    border-radius: 4px;
    padding: 5px 2px;
}
/*on fait une chose before total*/
#total::before{
content: 'Total: ';

}

button{
width: 100%;
height: 30px;
border: none;
cursor:pointer;
background:rgb(119, 13, 44) ;
color: aliceblue;
border-radius: 30px;
transition: 0.5s;

}

button:hover {
background: rgb(109, 8, 28);
letter-spacing: 1px;
}

.btnSearch{
display:flex ;
justify-content: space-between;
}
.btnSearch button{
width: 45%;
}

table{

width: 100%;
text-align: center;
margin: 10px;
}
table th{
   text-transform: uppercase;
}

th,td{
    padding: 5px;
}